<html>
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="../css/colorjoe.css">
		<title>Canvas</title>
		<style type="text/css">
		#main {
			border: 2px solid grey;
			background-color: #f2f2f2;
			display: flex;
			width: 840px;
		}
		#line-circle {
			position: absolute;
			border: 3px solid grey;
			margin: 20px;
			margin-right: 10px;
		}
		#drawingarea {
			border: 3px solid grey;
			background-color: #fbe5d6;
			margin: 20px;
			margin-right: 10px;
		}
		#panel {
			padding: 20px;
		}
		img {
			cursor: pointer;
		}
		#option > div {
			display: none;
			border: 3px solid grey;
			width: 220px;
			height: 220px;
			padding: 10px;
		}
		.current-color1 {
			border: 3px solid black;
			background-color: #800000;
		}
		.current-color2 {
			border: 3px solid grey;
			background-color: #fbe5d6;
		}
		.current-color1, .current-color2 {
			width: 48px;
			height: 48px;
		}
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="../js/fill.js"></script>
		<script type="text/javascript">

			$(function() {

				const context = $('#drawingarea')[0].getContext('2d');
				const circle = $('#line-circle')[0].getContext('2d');

				// 色の指定
				var currentColor = '#800000';
				var currentColor1 = '#800000';
				var currentColor2 = '#fbe5d6';
				var backgroundColor = '#fbe5d6';

				// 描画モード指定
				var drawmode = 'pencil';

				// 線の太さの記憶
				var currentPencilWidth = 3;
				var currentEraserWidth = 20;

				// 背景色で塗りつぶし
				context.fillStyle = backgroundColor;
				context.fillRect(0, 0, $('#drawingarea').attr('width'), $('#drawingarea').attr('height'));

				// アンドゥ・リドゥのデータ保持
				var undoImage = [];
				var redoImage = [];

				// 範囲選択のデータ保持
				var selectImage = null;
				var selectRange = null;
				var selectMoveStart = null;

				// コピーのデータ保持(保留)
				var copyImage = null;
				var copyWidth = null;
				var copyHeight = null;

				// 初期始点指定
				var x = null;
				var y = null;

				// ドラッグのフラグ
				var isDrag = false;

				// 定規フラグ
				var isRuler = false;

				// カラーパレットの設置
				const joe = colorjoe.rgb('color-palette', currentColor);

				// 色の選択
				var selectedColor = 0;

				function draw(dx, dy) {

					// ドラッグ中でない場合、処理を中止
					if(!isDrag) {
						return;
					}

					// 線の指定
					context.lineCap = 'round';
					context.lineJoin = 'round';

					// 鉛筆と消しゴムで描画色を変更
					if(drawmode == "eraser"){
						context.strokeStyle = backgroundColor;
						context.lineWidth = currentEraserWidth;
					}
					else {
						context.strokeStyle = currentColor;
						context.lineWidth = currentPencilWidth;
					}

					// 線の始点定義
					if(x === null || y === null) {
						context.moveTo(dx, dy);
					}
					else{
						context.moveTo(x, y);
					}

					// 線の終点定義
					context.lineTo(dx, dy);

					// 線を引く
					context.stroke();

					// 始点の更新
					x = dx;
					y = dy;

				}

				// 線の太さ表示
				function showCircle(dx, dy) {

					circle.lineCap = 'round';
					circle.lineJoin = 'round';
					circle.strokeStyle = 'black';
					circle.lineWidth = 1;

					// 鉛筆または消しゴムモードの場合
					if(drawmode == "pencil" || drawmode == "eraser"){

						// 線を通常に
						circle.setLineDash([]);

						// 以前に書いた円を全消し
						circle.clearRect(0, 0, $('#line-circle').attr('width'), $('#line-circle').attr('height'));

						// 定規モードの場合
						if(drawmode == "pencil" && isRuler && isDrag) {

							// 線の始点定義
							if(x === null || y === null) {
								x = dx;
								y = dy;
							}

							// 予想直線を描く
							circle.beginPath();
							circle.moveTo(x, y);
							circle.lineTo(dx, dy);
							circle.stroke();

						}

						// ポインタを中心に円を描く
						circle.beginPath();
						var radius;
						if(drawmode == "eraser"){
							radius = currentEraserWidth / 2;
						}
						else {
							radius = currentPencilWidth / 2;
						}
						circle.arc(dx, dy, radius, 0, 2 * Math.PI);
						circle.stroke();

					}
					// 選択モードの場合
					else if(drawmode == "select"){

						// 選択範囲上にポインタがあるとき、カーソルをポインタに
						if(selectRange != null && (selectRange[0] <= dx && dx <= selectRange[2]) && (selectRange[1] <= dy && dy <= selectRange[3])){
							$('#line-circle').css('cursor', 'pointer');
						}
						else{
							$('#line-circle').css('cursor', 'default');
						}

						// ドラッグ中でない場合、処理を中止
						if(!isDrag) {
							return;
						}

						// 選択範囲を動かしていない場合
						if(selectMoveStart == null){

							// 長方形を全消し
							circle.clearRect(0, 0, $('#line-circle').attr('width'), $('#line-circle').attr('height'));

							// 線の始点定義
							if(x === null || y === null) {
								x = dx;
								y = dy;
							}

							// 破線長方形を描く
							circle.beginPath();
							circle.setLineDash([2, 2]);
							circle.strokeRect(x, y, dx - x, dy - y);
							circle.stroke();

						}

					}

				}

				// スポイト(カラーコードを返す)
				function spuit(dx, dy) {

					const color = context.getImageData(dx, dy, 1, 1);
					var hex = "#";
					for(var i = 0; i < 3; i++){
						hex += ("0" + color.data[i].toString(16)).slice(-2);
					}
					if(hex == "#000000" && color.data[3] == 0){
						return backgroundColor;
					}
					else{
						return hex;
					}

				}

				// 背景色を2色目に更新
				function changebg() {

					saveUndo();

					const crcolor = rgb(currentColor2);
					const bgcolor = rgb(backgroundColor);

					const height = $('#drawingarea').attr('height');
					const width = $('#drawingarea').attr('width');

					// コンテクストからイメージデータ取得
					var image = context.getImageData(x, y,width, height);

					// imageの当該色との絶対値の差が20未満なら、アルファ値を0に
					for(var i = y; i < height; i++){
						for(var j = x; j < width; j++){
							const offset = (i * width + j) * 4;
							if(Math.abs(bgcolor[0] - image.data[offset]) + Math.abs(bgcolor[1] - image.data[offset + 1]) + Math.abs(bgcolor[2] - image.data[offset + 2]) < 20){
								image.data[offset] = crcolor[0];
								image.data[offset + 1] = crcolor[1];
								image.data[offset + 2] = crcolor[2];
							}
						}
					}

					backgroundColor = currentColor2;
					$('#drawingarea').css('background-color', backgroundColor);
					context.putImageData(image, 0, 0);

				}

				// 全消し
				function clearAll() {
					if(window.confirm("消去しますか？")){

						// 全消し前、アンドゥ情報を保存
						saveUndo();

						context.fillStyle = backgroundColor;
						context.fillRect(0, 0, $('#drawingarea').attr('width'), $('#drawingarea').attr('height'));
						// context.clearRect(0, 0, $('#drawingarea').attr('width'), $('#drawingarea').attr('height'));

					}
				}

				// 選択の全解除
				function selectClearAll() {

					// 長方形を全消し
					circle.clearRect(0, 0, $('#line-circle').attr('width'), $('#line-circle').attr('height'));

					// select変数の削除
					selectImage = null;
					selectRange = null;
					selectMoveStart = null;

					// x, yをnullに
					x = null;
					y = null;

				}

				// カラーコード→rgb変換メソッド
				function rgb(color) {
					return [parseInt(color.substr(1, 2), 16), parseInt(color.substr(3, 2), 16), parseInt(color.substr(5, 2), 16)]
				}

				// 透過メソッド
				function setTransparent(x, y, width, height) {

					// 背景色を透明(a=00)に指定
					// まずは背景色のRGBを取得
					const color = rgb(backgroundColor);

					// コンテクストからイメージデータ取得
					var image = context.getImageData(x, y, width, height);

					// imageの当該色との絶対値の差が20未満なら、アルファ値を0に
					for(var i = y; i < height; i++){
						for(var j = x; j < width; j++){
							const offset = (i * width + j) * 4;
							if(Math.abs(color[0] - image.data[offset]) + Math.abs(color[1] - image.data[offset + 1]) + Math.abs(color[2] - image.data[offset + 2]) < 20){
								image.data[offset + 3] = 0;
							}
						}
					}

					return image;

				}

				// キャンバスの出力
				function output(){

					if(window.confirm("保存しますか？")){

						/*
						// 表示を「保存中」に
						$('#output > button').text("loading...");
						$('#output > button').prop('disabled', true);
						*/

						// 背景色透過指定がある場合
						if($('#transparent').prop('checked')){
							context.putImageData(setTransparent(0, 0, $('#drawingarea').attr('width'), $('#drawingarea').attr('height')), 0, 0);
						}

						// 出力
						const filename = $('#filename').val() != "" ? $('#filename').val() + ".png" : "output.png";
						$('#output').attr({
							download: filename,
							href:  $('#drawingarea')[0].toDataURL("image/png")
						});

						/*
						// 表示を元に戻す
						$('#output > button').text("output");
						$('#output > button').prop('disabled', false);
						*/

					}
					else {
						$('#output').removeAttr('href');

					}

				}

				// ドラッグの開始
				function startDrag(dx, dy) {

					// スポイトの場合、その地点の色を取得してcurrentColorを更新
					if(drawmode == "spuit"){

						if(selectedColor == 0){
							currentColor1 = spuit(dx, dy);
							$('.current-color1').css('background-color', currentColor1);
							currentColor = currentColor1;
							joe.set(currentColor);
							return;
						}
						else {
							currentColor2 = spuit(dx, dy);
							$('.current-color2').css('background-color', currentColor2);
							currentColor = currentColor2;
							joe.set(currentColor);
							return;
						}

					}

					// 塗りつぶしの場合、塗りつぶし関数を実行
					if(drawmode == "fill"){
						saveUndo();
						try{
							const image = fill(dx, dy, $('#drawingarea').attr('width'), context.getImageData(0, 0, $('#drawingarea').attr('width'), $('#drawingarea').attr('height')), rgb(spuit(dx, dy)), rgb(currentColor));
							context.putImageData(image, 0, 0);
							return;
						}
						catch(e) {
							if(e instanceof RangeError) {
								alert("塗りつぶし領域が大きすぎます。\n分割するか、線を閉じてください。");
							}
						}
					}

					// 定規モードの場合、始点を記録
					if(drawmode == "pencil" && isRuler) {
						x = dx;
						y = dy;
					}

					// 描画開始前、アンドゥ情報を保存
					if(drawmode != "select") {
						saveUndo();
					}
					else{

						// 選択範囲上にポインタがある
						if(selectRange != null && (selectRange[0] <= dx && dx <= selectRange[2]) && (selectRange[1] <= dy && dy <= selectRange[3])){
							selectMoveStart = [dx, dy];
						}
						else{
							// 通常クリック時、選択範囲のリセットも重ねて行う
							selectClearAll();
						}

					}

					context.beginPath();
					isDrag = true;
				}

				// 右クリック時
				function rightClick(dx, dy) {

					// スポイトの場合、その地点の色を取得してcurrentColorを更新
					if(drawmode == "spuit"){

						if(selectedColor == 0){
							currentColor2 = spuit(dx, dy);
							$('.current-color2').css('background-color', currentColor2);
							joe.set(currentColor);
							return false;
						}
						else {
							currentColor1 = spuit(dx, dy);
							$('.current-color1').css('background-color', currentColor1);
							joe.set(currentColor);
							return false;
						}

					}

				}

				// ドラッグの終了
				function endDrag(dx, dy) {

					// rulerのとき、直線を引く
					if(drawmode == "pencil" && isRuler && x != null && y != null) {

						// 線の指定
						context.lineCap = 'round';
						context.lineJoin = 'round';
						context.strokeStyle = currentColor;
						context.lineWidth = currentPencilWidth;

						context.beginPath();
						context.moveTo(x, y);
						context.lineTo(dx, dy);
						context.stroke();

					}

					// drawmodeがselectのとき
					if(drawmode == "select") {

						// 選択範囲移動時なら、選択イメージをオフセットだけ移動して貼り付け
						if(selectRange != null && selectMoveStart != null) {

							// アンドゥ画面の保存
							saveUndo();

							const offset = [dx - selectMoveStart[0], dy - selectMoveStart[1]];
							// 既存の選択範囲を塗りつぶしてから
							circle.clearRect(0, 0, $('#line-circle').attr('width'), $('#line-circle').attr('height'));
							circle.stroke();
							context.fillStyle = backgroundColor;
							context.fillRect(selectRange[0], selectRange[1], selectRange[2] - selectRange[0], selectRange[3] - selectRange[1]);
							// context.clearRect(selectRange[0], selectRange[1], selectRange[2] - selectRange[0], selectRange[3] - selectRange[1]);
							context.stroke();
							// 描画範囲の移動
							context.putImageData(selectImage, selectRange[0] + offset[0], selectRange[1] + offset[1]);

							// 選択長方形の位置更新
							circle.beginPath();
							circle.setLineDash([2, 2]);
							circle.strokeRect(selectRange[0] + offset[0], selectRange[1] + offset[1], selectRange[2] - selectRange[0], selectRange[3] - selectRange[1]);
							circle.stroke();

							// selectImageは更新しなくてよい
							// selectRangeの更新
							selectRange = [selectRange[0] + offset[0], selectRange[1] + offset[1], selectRange[2] + offset[0], selectRange[3] + offset[1]];

							// selectMoveStartのリセット
							selectMoveStart = null;

						}
						// 範囲選択時なら、選択イメージを透過して保存
						// (isDrug = trueの場合のみ)
						else {

							if(x != null && y != null){

								if(x > dx) {
									[x, dx] = [dx, x];
								}
								if(y > dy) {
									[y, dy] = [dy, y];
								}
								selectImage = setTransparent(x, y, dx - x, dy - y);
								selectRange = [x, y, dx, dy];

							}

						}

					}

					context.closePath();
					isDrag = false;

					x = null;
					y = null;
				}

				// 選択時の画像の変更/リセット
				function resetSelect() {
					$('.tools > img').each(function(i, e){
						$(e).attr('src', '../img/' + $(e).attr('id') + '.png');
						$('#' + $(e).attr('id') + '_option').css('display', 'none');

						// 選択範囲のリセットも重ねて行う
						selectClearAll();
					});
				}
				function select() {
					resetSelect();
					drawmode = $(this).attr('id');
					$(this).attr('src', '../img/' + $(this).attr('id') + '_selected.png');
					$('#' + $(this).attr('id') + '_option').css('display', 'block');
				}

				// マウス操作時のハンドラの割り当て
				function initEventHandler() {

					$('#clear')[0].addEventListener('click', clearAll);
					$('#select_clear')[0].addEventListener('click', selectClearAll);
					$('#output > button')[0].addEventListener('click', output);
					$('#changebg')[0].addEventListener('click', changebg);
					for(var c of $('.current-color1')){
						c.addEventListener('click', e =>{
							selectedColor = 0;
							currentColor = currentColor1;
							context.strokeStyle = currentColor;
							joe.set(currentColor);
							$('.current-color1').css('border-color', 'black');
							$('.current-color2').css('border-color', 'grey');
						});
					}
					for(var c2 of $('.current-color2')){
						c2.addEventListener('click', e =>{
							selectedColor = 1;
							currentColor = currentColor2;
							context.strokeStyle = currentColor;
							joe.set(currentColor);
							$('.current-color1').css('border-color', 'grey');
							$('.current-color2').css('border-color', 'black');
						});
					}
					for(var t of $('.tools > img')){
						t.addEventListener('click', select);
					}
					$('#ruler')[0].addEventListener('click', e =>{
						if(!isRuler){
							$('#ruler').attr('src', '../img/ruler_selected.png');
							isRuler = true;
						}
						else {
							$('#ruler').attr('src', '../img/ruler.png');
							isRuler = false;
						}
					});

					$('#canvas')[0].addEventListener('mousedown', e => {
						if(e.which == 1) {
							startDrag(e.pageX - 33, e.pageY - 33);
						}
						else if(e.which == 3) {
							rightClick(e.pageX - 33, e.pageY - 33);
						}
					});
					window.addEventListener('mouseup', e => endDrag(e.pageX - 33, e.pageY - 33));
					// window.addEventListener('mouseup', e => endDrag($('#canvas').offset().left, $('#canvas').offset().top));
					// $('#canvas')[0].addEventListener('mouseout', endDrag);
					$('#canvas')[0].addEventListener('mousemove', e => {
						// select/ruler中はdraw処理しない
						if(drawmode != 'select' && !(drawmode == 'pencil' && isRuler)){
							draw(e.pageX - 33, e.pageY - 33);
						}
						showCircle(e.pageX - 33, e.pageY - 33);
					});

				}

				// アンドゥ情報の格納
				function saveUndo() {

					// 10件を超えると先頭イメージを削除
					if(undoImage.length >= 10) {
						undoImage.shift();
					}

					// リドゥはアンドゥの直後にしか使えないので、アンドゥ情報の保存時に配列をリセット
					redoImage.splice(0);

					// アンドゥ盤面の保存
					undoImage.push({
						image: context.getImageData(0, 0, $('#drawingarea').attr('width'), $('#drawingarea').attr('height')),
						backgroundColor: backgroundColor
					});

				}

				// アンドゥ操作
				function undo() {
					if(undoImage.length > 0) {
						redoImage.push({
							image: context.getImageData(0, 0, $('#drawingarea').attr('width'), $('#drawingarea').attr('height')),
							backgroundColor: backgroundColor
						});
						const u = undoImage.pop();
						context.putImageData(u.image, 0, 0);
						backgroundColor = u.backgroundColor;
						$('#drawingarea').css('background-color', backgroundColor);

						// よくわからなくなるので、選択範囲情報も消しておく
						selectClearAll();
					}
				}

				// リドゥ操作
				function redo() {
					if(redoImage.length > 0) {
						undoImage.push({
							image: context.getImageData(0, 0, $('#drawingarea').attr('width'), $('#drawingarea').attr('height')),
							backgroundColor: backgroundColor
						});
						const r = redoImage.pop();
						context.putImageData(r.image, 0, 0);
						backgroundColor = r.backgroundColor;
						$('#drawingarea').css('background-color', backgroundColor);

						// よくわからなくなるので、選択範囲情報も消しておく
						selectClearAll();
					}
				}

				// アンドゥの初期化
				function initUndo() {

					$(document).on('keydown', function(e){

						// console.log('undo:', undoImage, '\nredo:', redoImage);

						if (e.key === 'z' && (e.ctrlKey || e.metaKey)) {
							undo();
						}

						if (e.key === 'y' && (e.ctrlKey || e.metaKey)) {
							redo();
						}
					});
				}

				// カラーパレットの初期化
				function initColorPalette() {
					joe.on('done', color =>{
						if(selectedColor == 0){
							currentColor1 = color.hex();
							currentColor = currentColor1;
							context.strokeStyle = currentColor;
							$('.current-color1').css('background-color', currentColor1);
						}
						else{
							currentColor2 = color.hex();
							currentColor = currentColor2;
							context.strokeStyle = currentColor;
							$('.current-color2').css('background-color', currentColor2);
						}
					});

				}

				// 幅の変更
				function updatePencilWidth() {
					$('#pencil-range').on('input', function() {
						currentPencilWidth = $(this).val();
						$('#pencil-width').text($(this).val());
					});
				}
				function updateEraserWidth() {
					$('#eraser-range').on('input', function() {
						currentEraserWidth = $(this).val();
						$('#eraser-width').text($(this).val());
					});
				}

				// 塗りつぶし許容領域の変更
				function updateFillRange() {
					$('#fill-range').on('input', function() {
						fillRange = $(this).val();
						$('#fill-permit').text(parseInt($(this).val()) / 10);
					});
				}

				// 画像読み込みメソッド初期化
				function initLoadImage() {

					$("#input").on('input', function() {

						if(this.files.length > 0) {

							if(window.confirm("盤面は上書きされます。ファイルを読み込んでもよろしいですか？")){

								saveUndo();
								console.log(this.files);
								var file = this.files[0];
								$('#filename').val(this.files[0].name.replace(/\.[^/.]+$/, ""));

								// readerのresultプロパティに、データURLとしてエンコードされたファイルデータを格納
								var reader = new FileReader();
								reader.readAsDataURL(file);

								reader.onload = function() {
									var img = new Image();
									img.src = reader.result;
									setTimeout(()=>{
										context.drawImage(img, 0, 0, $('#drawingarea').attr('width'), $('#drawingarea').attr('height'));
									}, 10);

								}
							}

						}
						else {
							alert("ファイルの読み込みに失敗しました。");
						}

					});

				}

				initEventHandler();
				initColorPalette();

				updatePencilWidth();
				updateEraserWidth();
				updateFillRange();

				initUndo();
				initLoadImage();

				// 初期状態では鉛筆が選択されている
				$('#pencil').attr('src', '../img/' + $('#pencil').attr('id') + '_selected.png');
				$('#' + $('#pencil').attr('id') + '_option').css('display', 'block');

			});

		</script>
	</head>
	<body oncontextmenu="return false;">

		<div id="main">

			<div id="canvas">
				<canvas id="line-circle" width="512" height="384"></canvas>
				<canvas id="drawingarea" width="512" height="384"></canvas>
			</div>
			<div id="panel">
				<table>
					<tr>
						<td class="tools">
							<img id="pencil" src="../img/pencil_selected.png">
							<img id="eraser" src="../img/eraser.png">
							<img id="spuit" src="../img/spuit.png">
							<img id="palette" src="../img/palette.png">
						</td>
					</tr>
					<tr>
						<td class="tools">
							<img id="select" src="../img/select.png">
							<img id="fill" src="../img/fill.png">
							<img id="loupe" src="../img/loupe.png">
							<img id="option" src="../img/option.png">
						</td>
					</tr>
					<tr>
						<td id="option">
							<div id="pencil_option">
								<input id="pencil-range" type="range" value="3" min="1" max="100" step="1">
								<span id="pencil-width">3</span>
								<br>
								<div class="current-color1"></div>
								<div class="current-color2"></div>
								<img id="ruler" src="../img/ruler.png">
							</div>
							<div id="eraser_option">
								<input id="eraser-range" type="range" value="20" min="1" max="100" step="1">
								<span id="eraser-width">20</span>
								<br>
								<button id="clear">全消し</button>
							</div>
							<div id="spuit_option">
								<div class="current-color1"></div>
								<div class="current-color2"></div>
							</div>
							<div id="palette_option">
								<span id="color-palette"></span>
							</div>
							<div id="select_option">
								<button id="select_clear">選択範囲の解除</button>
							</div>
							<div id="fill_option">
								<input id="fill-range" type="range" value="20" min="0" max="200" step="10">
								<span id="fill-permit">2</span>
								<div class="current-color1"></div>
								<div class="current-color2"></div>
							</div>
							<div id="loupe_option">
								＜実装未定＞
							</div>
							<div id="option_option">
								<a id="output"><button>出力</button></a>
								<input type="text" id="filename">.png
								<p><input type="checkbox" id="transparent">&nbsp;背景を透明にする<br>（時間がかかる場合あり）</p>
								<button id="changebg">背景色を2色目に更新</button>
								<p>入力：<br><input type="file" id="input" accept="image/*"></p>
							</div>
						</td>
					<tr>
					</tr>
				</table>
			</div>

		</div>

	<script src="../js/colorjoe.min.js"></script>
	</body>
</html>